
div{
    padding: 15px;
    border: 1px solid black;
}

.navegacion{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
    flex-wrap: wrap;
    /*
    align-items: center;
    height: 250px;
    */
}
/*
.item-navegacion{
    flex: 1 1 30%;
    grow shrink basis
}
*/
/*
.especial{
    align-self: flex-end;
}
*/

.contenido-principal{
    display: flex;
    flex-direction: row;
}

.menu-izquierdo{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.contenido-derecho{
    flex: 3;
}

